<div *ngIf="ls.german" class="footer-content main-padding">
    <div>
        <a routerLink="/imprint">Impressum</a>
        -
        <a href="/dataprotection">Datenschutz</a>
    </div>
    <div>
        
        <a href="https://github.com/derjp87" target="_blank"><img src="assets/img/github-fill.png"></a>
    </div>
</div>

<div *ngIf="ls.english" class="footer-content main-padding">
    <div>
        <a routerLink="/imprint">Imprint</a>
        -
        <a href="/dataprotection">Data Protection</a>
    </div>
    <div>
        
        <a href="https://github.com/derjp87" target="_blank"><img src="assets/img/github-fill.png"></a>
    </div>
</div>

