<div *ngIf="ls.german" id="about" class="about-content main-padding">
    <div class="about-head">
        <div class="left"><img src="assets/img/me2.jpg"></div>
        <div class="right">
            <div class="headline">Über mich.</div>
            <div></div>
        </div>
    </div>
    <div class="about-sub">
        <div class="sub-slot">
            <div class="icon">
                <img src="assets/img/walk-line.png">
            </div>
            <h2>MEINE REISE BEGANN</h2>
            <div class="text">
                bereits im IT-Bereich. Ich absolvierte eine Ausbildung zum IT-Systemkaufmann und arbeitete später mehrere Jahre im IT Support.
            </div>
        </div>
        <div class="sub-slot">
            <div class="icon">
                <img src="assets/img/heart-line.png">
            </div>
            <h2>MIT DER ZEIT WURDE MIR KLAR</h2>
            <div class="text">
                dass ich beruflich noch nicht an meinem Ziel angekommen war. Als ich erkannte welches Potential und Kreativität in der Arbeit eines Programmierers steckte, entschloss ich mich zu einer neuen Herausforderung und begann eine Weiterbildung zum Web Entwickler.
            </div>
        </div>
        <div class="sub-slot">
            <div class="icon">
                <img src="assets/img/search-line.png">    
            </div>
            <h2>DIE WEITERBILDUNG</h2>
            <div class="text">
                absolvierte ich in meiner Freizeit neben meines Vollzeitjobs und Pflichten als Familienvater mit drei Kindern. Die Developer Akademie half mir als professionelles Ausbildungsinstitut mich zum qualifizierten Front End Entwickler auszubilden. 
            </div>
        </div>
        <div class="sub-slot">
            <div class="icon">
                <img src="assets/img/flight-takeoff-line.png">
            </div>
            <h2>DIE REISE GEHT WEITER</h2>
            <div class="text">
                und ich freue mich diesen Schritt gegangen zu sein. Künftig möchte ich meine neu erlernten Fähigkeiten weiter festigen und stetig weiter ausbauen. Ich freue mich meine neu gewonnene Leidenschaft nun zum Beruf zu machen mich somit auch mehr darauf fokussieren zu können.
            </div>
        </div>
    </div>
</div>

<div *ngIf="ls.english" id="about" class="about-content main-padding">
    <div class="about-head">
        <div class="left"><img src="assets/img/me2.jpg"></div>
        <div class="right">
            <div class="headline">About me.</div>
            <div></div>
        </div>
    </div>
    <div class="about-sub">
        <div class="sub-slot">
            <div class="icon">
                <img src="assets/img/walk-line.png">
            </div>
            <h2>MY JOURNEY BEGAN</h2>
            <div class="text">
                in the IT sector. I completed an apprenticeship as an IT-Systemkaufmann and later worked in IT support for several years.
            </div>
        </div>
        <div class="sub-slot">
            <div class="icon">
                <img src="assets/img/heart-line.png">
            </div>
            <h2>OVER TIME I REALIZED</h2>
            <div class="text">
                that I had not yet reached my goal professionally. When I realized the potential and creativity of a programmer's work, I decided to take on a new challenge and began further training as a web developer.
            </div>
        </div>
        <div class="sub-slot">
            <div class="icon">
                <img src="assets/img/search-line.png">    
            </div>
            <h2>THE EDUCATION</h2>
            <div class="text">
                i completed in my spare time next to my full-time job and my duties as a father of three children.
            </div>
        </div>
        <div class="sub-slot">
            <div class="icon">
                <img src="assets/img/flight-takeoff-line.png">
            </div>
            <h2>THE TRIP GOES ON</h2>
            <div class="text">
                and I'm happy to have taken this step. In the future, I would like to consolidate and continuously expand my newly learned skills. I am looking forward to turning my newfound passion into a job so that I can focus more on it..
            </div>
        </div>
    </div>
</div>