<div id="about" class="about-content main-padding">
    <div class="about-head">
        <div class="left"><img src="assets/img/me.jpg"></div>
        <div class="right">
            <div class="headline">About me.</div>
            <div>"I am Alpha & Omega. I am the Architekton."</div>
        </div>
    </div>
    <div class="about-sub">
        <div class="sub-slot">
            <div class="icon">
                <img src="assets/img/walk-line.png">
            </div>
            <h2>MY JOURNEY BEGAN</h2>
            <div class="text">
                as a product manager in an industrial company. Early on, I got the chance to collaborate in multiple IT and digitalization projects.
            </div>
        </div>
        <div class="sub-slot">
            <div class="icon">
                <img src="assets/img/heart-line.png">
            </div>
            <h2>MY JOURNEY BEGAN</h2>
            <div class="text">
                as a product manager in an industrial company. Early on, I got the chance to collaborate in multiple IT and digitalization projects.
            </div>
        </div>
        <div class="sub-slot">
            <div class="icon">
                <img src="assets/img/search-line.png">    
            </div>
            <h2>MY JOURNEY BEGAN</h2>
            <div class="text">
                as a product manager in an industrial company. Early on, I got the chance to collaborate in multiple IT and digitalization projects.
            </div>
        </div>
        <div class="sub-slot">
            <div class="icon">
                <img src="assets/img/flight-takeoff-line.png">
            </div>
            <h2>MY JOURNEY BEGAN</h2>
            <div class="text">
                as a product manager in an industrial company. Early on, I got the chance to collaborate in multiple IT and digitalization projects.
            </div>
        </div>
    </div>
</div>