<div *ngIf="ls.german" id="about" class="about-content main-padding">
    <div class="about-head">
        <div class="left"><img src="assets/img/me2.jpg"></div>
        <div class="right">
            <div class="headline">Über mich.</div>
            <div></div>
        </div>
    </div>
    <div class="about-sub">
        <div class="sub-slot">
            <div class="icon">
                <img src="assets/img/walk-line.png">
            </div>
            <h2>Meine Reise begann</h2>
            <div class="text">
                bereits im IT-Bereich. Ich absolvierte eine Ausbildung zum IT-Systemkaufmann und arbeitete später mehrere Jahre im IT Support.
            </div>
        </div>
        <div class="sub-slot">
            <div class="icon">
                <img src="assets/img/heart-line.png">
            </div>
            <h2>Mit der Zeit wurde mir klar</h2>
            <div class="text">
                dass ich beruflich noch nicht an meinem Ziel angekommen war. Als ich erkannte welches Potential und Kreativität in der Arbeit eines Programmierers steckte, entschloss ich mich zu einer neuen Herausforderung und begann eine Weiterbildung zum Web Entwickler.
            </div>
        </div>
        <div class="sub-slot">
            <div class="icon">
                <img src="assets/img/search-line.png">    
            </div>
            <h2>Die Weiterbildung</h2>
            <div class="text">
                absolvierte ich in meiner Freizeit neben meines Vollzeitjobs und Pflichten als Familienvater mit drei Kindern. Die Developer Akademie half mir als professionelles Ausbildungsinstitut mich zum qualifizierten Front End Entwickler auszubilden. 
            </div>
        </div>
        <div class="sub-slot">
            <div class="icon">
                <img src="assets/img/flight-takeoff-line.png">
            </div>
            <h2>Die Reise geht weiter</h2>
            <div class="text">
                und ich freue mich diesen Schritt gegangen zu sein. Künftig möchte ich meine neu erlernten Fähigkeiten weiter festigen und stetig weiter ausbauen. Ich freue mich meine neu gewonnene Leidenschaft nun zum Beruf zu machen mich somit auch mehr darauf fokussieren zu können.
            </div>
        </div>
    </div>
</div>

<div *ngIf="ls.english" id="about" class="about-content main-padding">
    <div class="about-head">
        <div class="left"><img src="assets/img/me2.jpg"></div>
        <div class="right">
            <div class="headline">About me.</div>
            <div>"I am Alpha & Omega. I am the Architekton."</div>
        </div>
    </div>
    <div class="about-sub">
        <div class="sub-slot">
            <div class="icon">
                <img src="assets/img/walk-line.png">
            </div>
            <h2>MY JOURNEY BEGAN</h2>
            <div class="text">
                as a product manager in an industrial company. Early on, I got the chance to collaborate in multiple IT and digitalization projects.
            </div>
        </div>
        <div class="sub-slot">
            <div class="icon">
                <img src="assets/img/heart-line.png">
            </div>
            <h2>MY JOURNEY BEGAN</h2>
            <div class="text">
                as a product manager in an industrial company. Early on, I got the chance to collaborate in multiple IT and digitalization projects.
            </div>
        </div>
        <div class="sub-slot">
            <div class="icon">
                <img src="assets/img/search-line.png">    
            </div>
            <h2>MY JOURNEY BEGAN</h2>
            <div class="text">
                as a product manager in an industrial company. Early on, I got the chance to collaborate in multiple IT and digitalization projects.
            </div>
        </div>
        <div class="sub-slot">
            <div class="icon">
                <img src="assets/img/flight-takeoff-line.png">
            </div>
            <h2>MY JOURNEY BEGAN</h2>
            <div class="text">
                as a product manager in an industrial company. Early on, I got the chance to collaborate in multiple IT and digitalization projects.
            </div>
        </div>
    </div>
</div>