<div class="projects-content main-padding">
    <div class="projects-headline">
        Meine Projekte
    </div>
    <div class="projects-buttons">
        <button class="button-disabled">Alle</button>
        <button class="button-active">Angular</button>
        <button class="button-active">JavaScript</button>
    </div>
    <div class="projects-box">
        <div (mouseenter)="showDetails1=true" (mouseleave)="showDetails1=false" class="project">
            <div *ngIf="showDetails1" class="project-details">
                <h2>Project Name</h2>
                <p>Project Beschreibung</p>
                <a href="#">Anzeigen</a>
            </div>
            <img src="assets/img/project-changeme.png">
        </div>
        <div (mouseenter)="showDetails2=true" (mouseleave)="showDetails2=false" class="project">
            <div *ngIf="showDetails2" class="project-details">
                <h2>Project Name</h2>
                <p>Project Beschreibung</p>
                <a href="#">Anzeigen</a>
            </div>
            <img src="assets/img/project-changeme.png">
        </div>
        <div (mouseenter)="showDetails3=true" (mouseleave)="showDetails3=false" class="project">
            <div *ngIf="showDetails3" class="project-details">
                <h2>Project Name</h2>
                <p>Project Beschreibung</p>
                <a href="#">Anzeigen</a>
            </div>
            <img src="assets/img/project-changeme.png">
        </div>
        <div (mouseenter)="showDetails4=true" (mouseleave)="showDetails4=false" class="project">
            <div *ngIf="showDetails4" class="project-details">
                <h2>Project Name</h2>
                <p>Project Beschreibung</p>
                <a href="#">Anzeigen</a>
            </div>
            <img src="assets/img/project-changeme.png">
        </div>
    </div>
</div>
