<div class="projects-content main-padding">
    <div class="projects-headline">
        Meine Projekte
    </div>
    <div class="projects-buttons">
        <button class="button-disabled">Alle</button>
        <button class="button-active">Angular</button>
        <button class="button-active">JavaScript</button>
    </div>
    <div class="projects-box">
        <div class="project">
            <div class="project-details">
                <h2>Project Name</h2>
                <p>Project Beschreibung</p>
                <a href="#">Anzeigen</a>
            </div>
            <img src="assets/img/project-changeme.png">
        </div>
        <div class="project">
            <img src="assets/img/project-changeme.png">
        </div>
        <div class="project">
            <img src="assets/img/project-changeme.png">
        </div>
        <div class="project">
            <img src="assets/img/project-changeme.png">
        </div>
    </div>
</div>
