.projects-content {
    background-color: black;
    color: white;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.projects-headline {
    font-size: 32px;
    display: flex;
    justify-content: center;
}

.projects-buttons {
    display: flex;
    justify-content: center;
    margin-top: 32px;

    button {
        min-width: 100px;
        min-height: 50px;
        margin: 10px;
        color: #d73444;
        background-color: black;
        border: 2px solid #d73444;
        cursor: pointer;

        &:hover {
            background-color: #d73444;
            color: black;
        }
    }
}

.button-selected {
    background-color: #d73444 !important;
    color: black !important;
}

.projects-box {
    max-width: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .project {
        margin: 25px;
        z-index: 1; 
        border: 1px solid #d73444; 

        .project-details {
            width: 350px;
            height: 300px;
            z-index: 1;
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #fffc;
            color: black;

            h2 {
                color:#d73444;
                margin-bottom: 8px;
            }

            p {
                font-weight: 400;
            }

            a {
                text-decoration: none;
                color:#d73444;
                background-color: white;
                padding: 20px;
                margin-top: 15px;
                border: 1px solid #d73444;

                &:hover {
                    background-color: #d73444;
                    color: white;
                }
            }
            }
        
        img {
            width: 350px;
            height: 300px;
            object-fit: cover;
        }
    }
}

