<div id="contact" class="contact-content main-padding">
    <h2>Contact me.</h2>
    <p>Get in touch via the form below, or by emailing mailto@jphansen.de</p>
    <div class="form">
        <div class="info">Name<input type="text" placeholder="Enter your name"></div>
        <div class="info">Email adress<input type="text" placeholder="Enter your Email address"></div>
        <div class="info">
            Message
            <textarea cols="30" rows="10" placeholder="Enter your message"></textarea>
        </div>
        <button>Senden</button>
    </div>
</div>

