<div id="contact" class="contact-content main-padding">
    <h2>Contact me.</h2>
    <p>Get in touch via the form below, or by emailing mailto@jphansen.de</p>




    <div class="form">

        <form class="form"
        action="http://jphansen.de/send_mail.php"
        method="post">
        <div class="info">Name<input name="name" type="text" placeholder="Enter your name"></div>
        
        <div class="info">Email<input name="email" type="email" placeholder="Enter your Email adress"></div>
        
        <div class="info">Message<textarea name="message" cols="30" rows="10" placeholder="Enter your message"></textarea></div>
        
        <input class="button" type="submit" value="Mail abschicken">
    </form>

    </div>
</div>

