.contact-content {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;

    h2 {
        color: #2DFCD8;
        font-size: 64px;
    }

    p {
        color: #989898;
        margin-bottom: 40px;
    }

    input {
        color: white;
        background-color: #1a1a1a;
        border: none;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 530px;
    }

    textarea {
        color: white;
        background-color: #1a1a1a;
        border: none;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 530px;
        font-family: "Open Sans", sans-serif;
        height: 155px;
    }
}


.info {
    color: white;
    display: flex;
    flex-direction: column;
}

span {
    color: white;
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .button {
        background-color: #000;
        border: 1px solid #2DFCD8;
        color: #2dfcd8;
        width: 125px;
        height: 45px;
        cursor: pointer;

        &:hover {
            background-color: #2DFCD8;
            color: black;
        }
    }
}