.contact-content {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        color: #2DFCD8;
        font-size: 64px;
    }

    p {
        color: #989898;
        margin-bottom: 40px;
        text-align: center;
    }

    input {
        color: white;
        background-color: #1a1a1a;
        border: none;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 530px;
        border-bottom: 2px solid grey;
        transition: all 225ms ease-in-out !important;

        &:hover {
            border-bottom: 2px solid #2DFCD8;
        }
    }

    textarea {
        color: white;
        background-color: #1a1a1a;
        border: none;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 530px;
        font-family: "Open Sans", sans-serif;
        height: 155px;
        border-bottom: 2px solid grey;
        transition: all 225ms ease-in-out !important;

        &:hover {
            border-bottom: 2px solid #2DFCD8;
        }
    }
}


.info {
    color: white;
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    

    .send-button {
        background-color: #000;
        border: 1px solid #2DFCD8;
        color: #2dfcd8;
        width: 125px;
        height: 45px;
        cursor: pointer;

        &:hover {
            background-color: #2DFCD8;
            color: black;
        }
    }
}

@media(max-width:720px) {
    .contact-content {
        h2 {
        font-size: 7.2vw;
    }}

    h1 {
        font-size: 5vw;
    }
}

@media(max-width:650px) {
    .form {
        align-items: center;
    }

    .contact-content {
        input {
            width: 400px;
        }

        textarea {
            width: 400px;
        }
    }
}

@media(max-width:450px) {
    .contact-content {
        input {
            width: 200px;
        }

        textarea {
            width: 200px;
        }

        h2 {
            font-size: 9.2vw;
    }

    h1 {
        font-size: 6.5vw;
    }
}

}

textarea:focus, input:focus{
    outline: none;
    border-bottom: 2px solid #2DFCD8 !important;
    
}

.success-container {
    background-color: black;
}

.success-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
        color: white;
    }
}

button {
    background-color: #000;
    border: 1px solid #2DFCD8;
    color: #2dfcd8;
    width: 125px;
    height: 45px;
    cursor: pointer;

    &:hover {
        background-color: #2DFCD8;
        color: black;
    }
}

.opacity {
    transition: opacity 3s ease-in;
}

  .opacity.sn-viewport--out {
      opacity: 0 ;
  }

  .opacity.sn-viewport--in {
    opacity: 1 ;  
}


.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text {
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
    letter-spacing: 2px;

}

.loading {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.loading .line-box {
    padding: 2px;
    width: 40%;
    height: 10px;
    border: 2px solid #267591;
    border-radius: 20px;
}

.loading .line-box .line {
    height: 10px;
    border-radius: 20px;
    background: #67D295;
    animation: loading 1s forwards cubic-bezier(0,0,0,0);
 }

 h1{
     position: relative;
     color: #fff;
     overflow: hidden;
 }

 h1:before {
     content: '';
     position: absolute;
     left: 120%;
     width: 120%;
     height: 100%;
     background: linear-gradient(90deg, transparent 0%, black 5%, black 100%);
     animation: animate 2s linear forwards;
 }

 @keyframes loading {
     0% {
         width: 0%;
     }
     100% {
         width: 100%;
     }
 }

 @keyframes animate {
     0% {
         left: -20%;
     }
     50% {
        left: -20%;
    }
     100% {
         left: 120%;
     }
 }

 .animation-delay {
    animation: 3s ease 0s normal forwards 1 fadeIn;
 }

 @keyframes fadeIn {
     0% {opacity: 0;}
     66% {opacity: 0;}
     100% {opacity: 1;}
 }

 