.menu-content {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 4;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: black;

    a {
        color: white;
        text-decoration: none;
        margin-left: 32px;
        font-weight: 400;
        font-size: 20px;

        &:hover {
            color: #e35d29;
        }
    }
}

.logo {
    width: 200px;
}