<div id="skills" class="skills-content main-padding">
    <div *ngIf="ls.german" class="headline">
        Meine Skills
    </div>

    <div *ngIf="ls.english" class="headline">
        My Skills
    </div>

    <div class="skills-container">
        <div class="skill-box">
            <div class="skill-img">
                <div class="skill-img two">
                    <img src="assets/img/javascript.png">
                </div>
            </div>
            JavaScript
        </div>
        <div class="skill-box">
            <div class="skill-img">
                <div class="skill-img two">
                    <img src="assets/img/angular.png">
                </div>
            </div>
            Angular
        </div>
        <div class="skill-box">
            <div class="skill-img">
                <div class="skill-img two">
                    <img src="assets/img/htmlcss.png">
                </div>
            </div>
            HTML / CSS
        </div>
        <div class="skill-box">
            <div class="skill-img">
                <div class="skill-img two">
                    <img src="assets/img/scrum.png">
                </div>
            </div>
            Scrum
        </div>
        <div class="skill-box">
            <div class="skill-img">
                <div class="skill-img two">
                    <img src="assets/img/git.png">
                </div>
            </div>
            Git
        </div>
        <div class="skill-box">
            <div class="skill-img">
                <div class="skill-img two">
                    <img src="assets/img/design.png">
                </div>
            </div>
            Design Thinking
        </div>
        <div class="skill-box">
            <div class="skill-img">
                <div class="skill-img two">
                    <img src="assets/img/api.png">
                </div>
            </div>
            Rest API
        </div>
        <div class="skill-box">
            <div class="skill-img">
                <div class="skill-img two">
                    <img src="assets/img/testautomation.png">
                </div>
            </div>
            Test automation
        </div>
        <div class="skill-box">
            <div class="skill-img">
                <div class="skill-img two">
                    <img src="assets/img/databases.png">
                </div>
            </div>
            Databases
        </div>
    </div>
</div>