.skills-content {
    background-color: rgb(12, 12, 12);
    color: white;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-headline {
    font-size: 32px;
}

.skills-container {
    max-width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;

            .skill-box {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 120px;
                width: 200px;
                padding: 10px;
                background-color: white;
                border-radius: 10px;
                color: black;
                font-weight: 400;
                margin: 20px;
                margin-top: 80px;

                .skill-img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: -50px;
                    background-color: white;
                    padding: 20px;
                    border-radius: 50px;
                    box-shadow: 2px 4px 3px grey;
                    margin-bottom: 35px;
            

                    img {
                        width: 40px;
                    }
                }
        }

}