<div class="welcome-content main-padding">
    <div>

    </div>
    <div class="welcome-main">
        <div>
            Hi,<br>
            Ich bin <p>Jan Philip</p> Hansen<br>
            Front End Developer

            <a href="#contact"><div class="link-contact">
                Kontaktiere mich
            </div></a>
        </div>
        <div>
            <img src="assets/img/me.jpg">
        </div>
    </div>
    <div class="arrow-down">
        <img src="assets/img/arrow-down.png">
    </div>
</div>
