<div class="welcome-content main-padding">
    <div class="header">
        <div>
            <img class="logo" src="assets/img/jphansen.png">
        </div>
        <div class="menu">
            <a href="">Home</a>
            <a href="">Meine Skills</a>
            <a href="">Meine Projekte</a>
            <a href="">Über mich</a>
        </div>
    </div>
    <div class="welcome-main">
        <div>
            Hi,<br>
            Ich bin <p>Jan Philip</p> Hansen<br>
            Front End Developer

            <div class="link-contact">
                Kontaktiere mich
            </div>
        </div>
        <div>
            <img src="assets/img/me.jpg">
        </div>
    </div>
    <div class="arrow-down">
        <img src="assets/img/arrow-down.png">
    </div>
</div>
