.welcome-content {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.welcome-main {
    color: white;
    font-size: 64px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    p{
        margin: 0;
        display: contents;
        color:#e35d29;
    }

    .link-contact {
        color: #2DFCD8;
        margin-top: 50px;
        font-size: 14px;
        border: 1px solid #2DFCD8;
        width: 250px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            background-color: #2DFCD8;
            color: black;
        }
    }

    img {
        border-radius: 200px;
        height: 400px;
        width: 400px;
        object-fit: cover;
    }

}

.arrow-down {
    border: 1px solid white;
    border-radius: 50px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    img {
        width: 16px;
    }
}