body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    
}

html {
    scroll-behavior: smooth;
}

.main-padding {
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 70px;
}

@media(max-width:1200px) {

    .main-padding {
    padding-left: 60px;
    padding-right: 60px;
}
}

@media(max-width:950px) {

    .main-padding {
    padding-left: 30px;
    padding-right: 30px;
}
}

@media(max-width:450px) {

    .main-padding {
    padding-left: 10px;
    padding-right: 10px;
}
}


